
    <style>
    .green {
        background: green !important;
    }

    .red {
        background: red !important;
    }
</style>

        <div class="page-header">
            <h3>Ingresar</h3>
        </div> 

 
        <div class="container row">
            <div class="jumbotron col-sm-6 pull-center">
                
                <form autocomplete="off" action="/login" method="post">
               
                    <div class="form-group">
                        <label>Email o Username:</label>
                        <input class="form-control" required type="text" name="username"/>
                    </div>

                    <div class="form-group">
                        <label>Contraseña:</label>
                        <input class="form-control" required type="password" name="password"/>
                    </div>
                   
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Ingresar"/> | ¿No tiene cuenta? <a href="/signup">Registrarse</a>    
                    </div>
                </form>     
                <div style="color:red">{{message}}</div>         

                 
            </div>          
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastify-js/1.6.1/toastify.min.js"
        integrity="sha512-79j1YQOJuI8mLseq9icSQKT6bLlLtWknKwj1OpJZMdPt2pFBry3vQTt+NZuJw7NSd1pHhZlu0s12Ngqfa371EA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        

