  <table class="table">
  {{#each mensajes}}
    <tr class="">
        <td >
        <b style="color:blue">{{agregadoPor}}</b> <font style="color:brown">{{fecha}}</font><br>
         {{msg}}
        </td>
       
    </tr>
    {{/each}}
    </table>